body {
    display: flex;
    justify-content: center;
    background-color: #313b6b;
    background-image: url('./arabesque.png');
}

h1 {
    align-self: center;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #a1abdbc9;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
